@model Book

<div class="well">
    <h3>
        <strong>@Model.Name</strong>

    </h3>
    <form id="@Model.BookId" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Name
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Добавить в корзину
            </button>
        </span>
    </form>
</div>