@{
    Layout = "_Layout";
}
<div class="body-content">
    <h2>Ваша корзина</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-left">@line.Book.Name</td>
                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="BookId"
                                   value="@line.Book.BookId" />
                            <input type="hidden" name="returnUrl"
                                   value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger ">
                                Удалить книгу
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить выбор книг</a>
        <a class="btn btn-primary" asp-action="Create" asp-controller="Order">
            Подтверждение
        </a>
    </div>
</div>